.panda-slide {
  background-color: #feeae9;
  border-radius: 10px;
}

.panda-card{
border: 0;
border-radius: 5px;

}
.panda-card-footer{
  border: 0;
  background-color: white;
  
}

.link-btn {
  background-color: transparent;
  border: 2px solid #ff408b;
  width: 130px;
  height: 32px;
  border-radius: 5px;
}

.link-btn:hover {
  background-color: #ff408b;
  color: white;
  transition: background-color 0.5s;
}

.subscribe{
  height: 300px;
  background-color: #feeae9;
 
}
.categories img{
height: 100px;
}
.categories{
  border-radius: 10px;
}
.shoes-box{
background-color: tomato;

}

